

* {box-sizing:border-box}

body {
    color: grey;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    background-color: #FAFAFA;
    margin: 0;
    overflow-x: hidden;
    max-width: 1000px;
  }
  
  main {
    /*margin-left: 160px;*/
    width: 90%;
    max-width: 1080px;
  }

  
  .logo {
    display: block;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 1px;
    display: block;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding-right: 12px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 10%;
    margin-bottom: 5px;
    cursor: grab;
    position: sticky;
  }
  
  .logo svg,
  .logo img {
    max-height: 80px;
    width: auto;
    display: block;
  }
  
  h1 {
    font-size: 1.1em;
    display: block;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 1px;
    display: block;
    color: white;
    font-weight: bold;
    background-color:rgb(224, 135, 253);
    border-radius: 20px;
    padding-right: 12px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 20%;
    margin-bottom: 5px;
    cursor: grab;
    position: sticky;
  }

h1 a {
    text-decoration: none;
    color: white;
    
}
  


/* ===================== */
/*        z         */
/* ===================== */


.printh3 {
  font-size: 1.1em;
  display: block;
  color: #fafafa;
  font-weight: bold;
  background-color: rgb(160, 0, 147);
  border-radius: 20px;
  padding: 4px 12px;  /* top/bottom 4px, left/right 12px */
  width: 120px;         /* adjust width as needed */
  cursor: grab;
  /* Center horizontally */
  margin: -20px auto 5px auto;  /* top, auto left/right, bottom */
  text-align: center;   
  position: absolute; 
  top: 50px;             /* Distance from top */
  
  right: 20px;     /* centers text inside */
}

.printh3 a {
  color: white;
  text-decoration: none;
}

.printh3 a:hover {
  color: rgb(255, 146, 219);
}
.printstore {
  margin-left: 30px;
}

.printstore h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h2 {
font-family: Helvetica;
}

#footer {
    bottom: 0;
    color: rgb(0, 195, 255);
    font-size: 0.7em;
    bottom: 0;
    right: 19px;
    position: fixed;
    display: block;
    padding-bottom: 29px;
    z-index: 4;
}

#footer.hide {
  opacity: 0;
}

/*TEST FOR TREE LIST*/
    /* Remove hyperlink lines */
    .tooltip-container {
      position: relative;
      display: inline-block;
      width: 100%;
      text-decoration: none;
    }
    
    .tooltip-container img {
      display: block;
      width: 100%;
    }
    
    .tooltip-text {
      position: fixed;
      display: none;
      background-color: #222;
      color: white;
      padding: 6px 10px;
      border-radius: 6px;
      white-space: nowrap;
      pointer-events: none;
      z-index: 1000;
      font-size: 14px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
    

/* Remove default bullets */

ul, {
  display: flex;
    flex-direction: column;
    margin-bottom: 0%;    
    margin-top: 0%; 
    z-index: 40;
   
    }

    #myUL {
        margin-bottom: 0%;    
        margin-top: 0%;    
        z-index: 40;
        padding-left: 30px;
    }


    ul a {
        text-decoration: none;
        color: white;
        float: left;
    }

li {

        display: inline-block;
        padding-bottom: 4px;
        padding-top: 4px;
        text-decoration: none;
        color: white;
        border-radius: 20px;
        padding-right: 10px;
        padding-left: 10px;
        background-color: lightgray;
        margin-bottom: 5px;
        width: max-content;
        list-style: none;
        z-index: 40;
}

li:active {
  background-color: yellow;
}

li a{
    text-decoration: none;

  }

.nested {
    display: none;

  }
  .nested li {
    display: flex;
    flex-direction: column;
    width: max-content;
    background-color: violet;
    margin-left: 20px;
  }


/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: white;
    display: none;
   /* display: none;  // do this if you don't want the space*/
    margin-right: 5px;
    
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
    }

.nested .about {
    font-size: 0.9em;
    background-color: transparent;  /* Remove the background color */
    color: black;
    z-index: 999;
    margin-left: 0%;
    width: 40%;
    padding-bottom: 10%;
    z-index: 99;
    padding-top: 5px;
    left: 0;
  }

  .nested .about a {
    color: black;
    font-weight: bold;
  }

  ul.nested.active {
    padding-left: 10px;
  }
  .nested.active {
    display: block;
  }
  
  /*overlay test */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(250, 250, 250, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
  z-index: -10;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
  z-index: -10;

}

/*spacer*/

.spacer2 {
  height: 70.33vh;
}


/*testimonials section */

 .testimonials {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 5px;
    z-index: -500;
       overflow: hidden;
       align-items: center;
       justify-content: center;
       padding: 5px;
       font-family: Helvetica ;
      padding: 10%;
  }

 .text {
  padding-right: 15px;
  top: 0;
  }

.text h2 {
  margin: 0;
}
  


  .testimonials h3{
   color: rgb(0, 195, 255);
  }

  .img-gallery-testimonials img{
   width: 60%;
float: left; 
padding-right: 15px;
  }

  .img-gallery-testimonials img:hover{
    transform: perspective(500px) rotateX(10deg) rotateY(10deg) translateY(-10px);
  }

/*galleries in section pages */

/*ham menu - not displaying on desktop */






/*Responsive image grid*/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}



/*ham menu test */




  .img-gallery {
    width: 80%;
    margin-left: 25%;
    position: absolute;
    margin-right: 0;
    border-right: 0px;
    top: 25px;
    display: block;
    z-index: -500;
    overflow: hidden;

  }
    
    .img-gallery img {
       width: 90%;
       padding-bottom: 5%;
       z-index: -500;
       -webkit-filter: drop-shadow(1px 1px 1px #aaaaaa);
    }

/* slidesghow test */







.slideshow {
  position: relative;
  width: 700px;   /* fixed container size */
  height: 560px;
  margin: -100px auto auto auto;
  overflow: visible;  /* so images with contain aren’t cropped */
  z-index: -100;
  object-fit: contain;

}

.slide {
  position: fixed;   /* absolute inside relative container */
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  /* start offscreen right */
  transform: translate(-50%, -50%) translateX(100%);
  transition: none;

  z-index: 1;
  will-change: transform;
}


div#slide1.slide, div#slide2.slide {
  height: 80%;
}

.btn {
  position: absolute;
  bottom: 30px;
  padding: 10px 20px;
  font-size: 0.9em;
  cursor: pointer;
  user-select: none;
  font-style: italic;
  border: 1px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  z-index: 100;
}

#prevBtn {
  left: 40%;
  transform: translateX(-100%);
}

#nextBtn {
  left: 60%;
  transform: translateX(-100%);
}

.btn:hover {
    background-color: rgba(251, 18, 227, 0.8);

  }
@media (max-width: 725px) {

.slideshow {
  position: relative;
  display: block;
  width: 100%;
  margin-right: 0;
  margin-top: -100px;
  overflow: visible;  /* so images with contain aren’t cropped */
  z-index: -100;
}


}
@media (max-width: 425px) {
  .slideshow {
    width: 80vw;
    height: calc(90vw * 0.8);

  }

  .slide {
    position: fixed;
    width: 90%;
  }


  .btn {
    bottom: 50px; /* raise buttons higher on small screens */
    font-size: 16px;
    position: fixed;
  }

 

  #prevBtn {
  right: 40%;
  transform: translateX(-100%);
}

#nextBtn {
  right: 60%;
  transform: translateX(-100%);
}
}
  

/* Slideshow container */
.container {
  z-index: -100;
  display: grid;
  position: absolute;
  top: 25px;
  margin-right: 0;
  grid-template-columns: 1fr 1fr 1fr; /* Two equal columns */
  gap: 30px; /* Horizontal gap between the columns */
  margin: 20px;
  padding-bottom: 25px;

}

.container img:hover{
  transform: scale(1.02) translateY(-5px);

}


.container2 {
  z-index: -100;
  display: grid;
  position: absolute;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  top: 25px;
  margin: 20px;
  padding-bottom: 25px;
}
@media only screen and (max-width: 430px) {
  .container2 {
grid-template-columns: 1fr;
  }
}


.gallerycolumn {
  display: flex;
      flex-direction: column;
      gap: 20px;
      z-index: 0;
}

.gallerycolumn img {
  -webkit-filter: drop-shadow(1px 1px 1px #aaaaaa);
}

.gallery-item img {
  width: 100%;
}


/* Button fixed at top right */
.expand-btn {
  position: absolute;
  top: 35px;
  right: 15px;
  background: #f6ff00;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: background 0.3s;
}
.expand-btn:hover {
  background: transparent;
}

/* Hidden text */
.hidden-text {
  display: none;
  max-width: 500px;
  margin: 0px auto;
  padding: 100px;
  background: rgba(245, 245, 245, 0.8);
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.5;
}

.hidden-text.active {
  display: block;
}

/* test for the next over the images */

/* Next & previous buttons */
.prev, .next {
  cursor: grab;
  position: fixed;  /* Fix the position above the footer */
  left: 3%;         /* Align the left edge of the buttons with the left edge of the footer */
  bottom: 29px;     /* Place the buttons 60px above the footer */
  color: rgb(0, 195, 255);
  font-size: 15px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 10;      /* Ensure the buttons appear above other elements */
}
/* Next & previous buttons */
.prev {
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    background-color:rgba(255, 217, 0 /50%);
  }
/* Position the "next button" to the right 
WHY NOT WORKING?*/
.next {
  left: auto;       /* Position "next" button on the right side */
  left: 6%;        /* Align the right edge of the button with the right edge of the footer */
  background-color: rgba(255, 217, 0, 0.5);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover {
  cursor: url(svg/prev.svg), auto; 
  background-color:rgba(255, 217, 0 /50%);

}

.next:hover {
  cursor: url(svg/Untitled-2.svg), auto; 
  background-color:rgba(255, 217, 0 /50%);

}

#img-gallery-portrait {
  width: 500px;
  margin-left: 35%;
  z-index: -500;

}

#img-gallery-portrait img {
  width: 500px;
  -webkit-filter: drop-shadow(1px 1px 1px #aaaaaa);
  z-index: -500;

}


/*test for the array  image slider */
/* ===================== */
/*        next project button          */
/* ===================== */
.next-project-button {
  width: 15%;
  bottom: 10px;
  left: 30px;
  background-color: rgb(124, 124, 124, 0.7);
  color: white;
  padding: 3px;
  font-family: "Scandia";
  font-size: 0.8rem;
  font-weight: 100;
  text-decoration: none;
  z-index: 1100;
  margin-bottom: 30px;
  margin-left: 30px;
  position: relative;
  
}

.next-project-button:hover {
  background-color: red;
  transform: perspective(500px) rotateX(10deg) rotateY(10deg) translateY(-10px);
}

.mobile-menu, .hamburger {
  display: none;
}

/*Print Store*/


.product-grid {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  gap: 20px;         /* space between items */
  justify-content: center;  /* center the grid */
  padding: 20px;
  top: 250px;
  z-index: -1000;
}

.product {
  flex: 1 1 200px;   /* grow, shrink, base width */
  max-width: 250px;
  min-width: 250px;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 4px;

}

/* Print store modal */
/* Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}



.modal[aria-hidden="false"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content */
.modal-content {
  background: #fff;
  display: flex;
  max-width: 600px;
  width: 90%;
  padding: 20px;
  flex-direction: column; /* vertical stacking */
  align-items: center;    /* center horizontally */
  gap: 2px;              /* space between elements */
}

.modal-content img {
  max-width: 50%;
  margin-right: 10px;
  border-radius: 8px;
}

.modal-info {
  flex: 1;
}

/* Close button */
/* Make the overlay fixed */



#modal-paypal-button {
  max-width: 200px;   /* shrink width */
  padding-top: 10px;
}

#paypal-cart-checkout iframe {
  max-height: 80vh !important;
  overflow-y: auto !important;
}

/* Make overlay fixed and allow scrolling inside */

#cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  overflow-y: auto; /* allow scrolling when content taller than viewport */
  z-index: 1000;
}

/* Scrollable modal content */
#cart-modal .modal-content {
  max-height: 95vh; /* allow tall content but stay within viewport */
  overflow-y: auto; /* scrollable */
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
}

/* Make PayPal iframe scrollable if needed */
#paypal-cart-checkout iframe {
  width: 100% !important;
  max-height: 90vh !important; /* don’t exceed modal height */
}

.close-product, .close-cart {
  font-size: 30px;      /* bigger X */
  cursor: pointer;
  color: #000;          /* or whatever color you like */
  font-weight: normal;
}

#cart-modal, #product-modal {
  z-index: 5000; /* just to be sure for both modals */
}

#open-cart {
  position: absolute;       /* Fix it relative to the viewport */
  top: 70px;
  /* Distance from top */
  right: 20px;           /* Distance from right */
  z-index: 1000;         /* Make sure it’s above everything */
  padding: 10px 20px;    /* Button padding */
  background-color:rgb(0, 195, 255);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: background-color 0.2s;
}

#open-cart:hover {
  background-color: white;
  color:rgb(0, 195, 255); /* PayPal blue, or your preferred color */

}

/*media queries*/
@media only screen and (max-width: 768px) {

ul, #myUL, li, .nested {
  z-index: 999;
}


  .img-gallery {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding-left: 3%;
    padding-bottom: 5%;
    margin-right: 0;
    margin-top: 176px;

  }
    .img-gallery img {
       padding-bottom: 2%;
       width: 100%;
       padding-right: 3%; 
       margin-left: auto; 

    }

    #img-gallery-portrait {
      width: 100%;
      margin: auto;

    }
    
    #img-gallery-portrait img {
      width: 100%;

    }
    
   
        footer {
            padding-top: 10px;
            right: 0;
            padding-right: 3%; 
            z-index: 4;
            display: block;
            padding-bottom: 10px;
            position: absolute;
            margin-left: 3%;

        }

                /*playing about*/

      

        

        .nested .about {
            width: 500px;
            z-index: 3;
        }


  

}

        @media only screen and (max-width: 430px) {

          body {
            max-width: 88%;
            margin: 0px;
          }

     h1 {
        display: block;
        width: 45%;
        margin-left: 7px;
        /*margin: auto;  */ 
        /*text-align: center;*/
     }
     .logo {
      margin-left: 3px;
      width: 40%;

    }
    
    .logo svg,
    .logo img {
      max-height: 80px;
      width: auto;
      display: block;
    }
     
     
        #desktopnav {
          display: none;  /* Assuming you have a desktop version */
        }
        

        .hamburger {
          position: absolute;
          top: 16%;
          left: 2%;
          font-size: 1.3em;
          z-index: 1100;
          background: #e087fd;
          border: none;
          border-radius: 50%;
          color: white;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          cursor: pointer;
          display: block;
        }

        .hamburger.rotate {
          transform: rotate(45deg);
        }

        .mobile-menu {
          display: block;
          position: absolute;
          top: 18%; /* or below your header */
          left: -5%;
          width: 100%;
        
          padding: 20px;
          z-index: 1000;
        }

        .mobile-menu.hidden {
          display: none;
        }


        li {
          /*margin: auto;  */ 
          margin-top: 3px;
          margin-left: 0px;
      }

      #myUL {
        left: 100px;
      }

        ul#myUL {
            display: block;
            z-index: 99;
            margin-left: 0px;
            left: 0;
            /*margin: auto;  */ 
        }

        #footer {
          display: block;
          z-index: 999;
          bottom: 0px;
          left: 0;
          padding-top: 10px;
          background-color: #fafafa;            
      }

     

        html {
          box-sizing: border-box;
        }

   .testimonials {
    width: 100%;
    padding-left: 20px;

  }

  .img-gallery-portrait {
    margin-top: 5%;
    z-index: -1;
    padding-bottom: 50px;
    background-color: #fafafa;
    top: 23%;
    
}
  .img-gallery-testimonials img{
    width: 100%;
 float: left; 
 padding-bottom: 10px;  
   }



 /* img gallery */
 .container {
    top: 5%;
    width: 100%;
    padding: 5%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
}



        /* Next & previous buttons */
  .prev, .next {
    width: 1%;
    bottom: 0.3%;
    color: red;
    font-size: 20px;
    z-index: 20;
  }
  
  .next {
    padding-left: 0;
margin-top: 10px;
    margin: 0;
    padding-top: 710px;
  }
  


      .mySlides fade {
        margin: 0;
      }




.nested .about {
    width: auto;
    padding-left: 10px;
    font-size: 1em;
    padding-top: 10px;
    z-index: 999;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-top: 5px;
    } 

    :root {
      overscroll-behavior: none;
    }


    #open-cart {
      top: 100px;

    }

    .printh3 {
      width: 28%;
      top: 55px;
      font-size: 1em;

    }

  }


.fade-item {
  transition: 0.1s all ease-in-out;
  opacity: 0;
}

.fadein {
  animation: fadeIn 0.9s 1;
  animation-fill-mode: forwards;
}


@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


$total-items: 7;


li {
  position: relative;
  display: block;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}


@for $i from 1 through $total-items {
  .fade-item:nth-child(#{$i}) {
    animation-delay: 0s * $i;
  }
} 
