

* {box-sizing:border-box}

body {
    color: grey;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    background-color: #FAFAFA;
    margin: 0;
    overflow-x: hidden;
    max-width: 1000px;
  }
  
  main {
    /*margin-left: 160px;*/
    width: 90%;
    max-width: 1080px;
  }

  

  
    h1 {
    font-size: 1.1em;
    display: block;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 1px;
    display: block;
    color: white;
    font-weight: bold;
    background-color:#e087fd;
    border-radius: 20px;
    padding-right: 12px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 20%;
    margin-bottom: 5px;
    cursor: grab;
    position: sticky;
  }

h1 a {
    text-decoration: none;
    color: white;
}


#footer {
    bottom: 0;
    color: rgb(0, 195, 255);
    font-size: 0.7em;
    bottom: 0;
    padding-left: 3%;
    padding-bottom: 5%;
    position: fixed;
    display: block;
    padding-bottom: 29px;
    z-index: 4;
    font-family: "Helvetica Neue";
}



/*TEST FOR TREE LIST*/
    /* Remove hyperlink lines */

  


/* Remove default bullets */

ul, {
  display: flex;
    flex-direction: column;
    margin-bottom: 0%;    
    margin-top: 0%;    
    z-index: 4;
    }

    #myUL {
        margin-bottom: 0%;    
        margin-top: 0%;    
        z-index: 4;
        padding-left: 30px;
    }


    ul a {
        text-decoration: none;
        color: white;
        float: left;
    }

li {

        font-family:  /*"Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded",*/ "Helvetica Neue", Helvetica, Arial, sans-serif;
        display: inline-block;
        padding-bottom: 4px;
        padding-top: 4px;
        text-decoration: none;
        color: white;
        border-radius: 20px;
        padding-right: 10px;
        padding-left: 10px;
        background-color: lightgray;
        margin-bottom: 5px;
        width: max-content;
        list-style: none;
        z-index: 3;
}

li:active {
  background-color: yellow;
}

li a{
    text-decoration: none;

  }

.nested {
    display: none;

  }
  .nested li {
    display: flex;
    flex-direction: column;
    width: max-content;
    background-color: violet;
    margin-left: 20px;
  }


/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: white;
    display: none;
   /* display: none;  // do this if you don't want the space*/
    margin-right: 5px;
    
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
    }

.nested .about {
    font-size: 0.9em;
    background-color: transparent;  /* Remove the background color */

    color: black;
    z-index: 999;
    margin-left: 0%;
    width: 40%;
    padding-bottom: 10%;
    z-index: 99;
    padding-top: 5px;
    left: 0;
  }

  .nested .about a {
    color: black;
    font-weight: bold;
  }

  ul.nested.active {
    padding-left: 10px;
  }

  /*overlay test */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(250, 250, 250, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
  z-index: -10;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
  z-index: -10;

}


/*testimonials section */


 .testimonials {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 5px;
    z-index: -500;
     
       overflow: hidden;
       align-items: center;
       justify-content: center;
       padding: 5px;
    font-family: "Helvetica Neue";
    
      padding: 10%;
  }

 .text {
  padding-right: 15px;
  top: 0;
  }

.text h2 {
  margin: 0;
}
  


  .testimonials h3{
   color: rgb(0, 195, 255);
  }

  .img-gallery-testimonials img{
   width: 60%;
float: left; 
padding-right: 15px;
  }

  .img-gallery-testimonials img:hover{
    transform: perspective(500px) rotateX(10deg) rotateY(10deg) translateY(-10px);
  }

/* slidesghow test */







.slideshow {
  position: relative;
  width: 700px;   /* fixed container size */
  height: 560px;
  margin: -100px auto auto auto;
  overflow: visible;  /* so images with contain aren’t cropped */
  z-index: -100;
  object-fit: contain;

}

.slide {
  position: fixed;   /* absolute inside relative container */
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  /* start offscreen right */
  transform: translate(-50%, -50%) translateX(100%);
  transition: none;

  z-index: 1;
  will-change: transform;
}


div#slide1.slide, div#slide2.slide {
  height: 80%;
      z-index: -100;

}

.btn {
  position: absolute;
  bottom: 20px;
  padding: 10px 20px;
  font-size: 0.9em;
  cursor: pointer;
  user-select: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  border: 1px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
z-index: 10;

}

#prevBtn {
  left: 40%;
  transform: translateX(-100%);
}

#nextBtn {
  left: 60%;
  transform: translateX(-100%);
}

.btn:hover {
    background-color: rgba(251, 18, 227, 0.8);

  }
@media (max-width: 725px) {

.slideshow {
  position: relative;
  display: block;
  width: 100%;
  margin-right: 0;
  margin-top: -100px;
  overflow: visible;  /* so images with contain aren’t cropped */
  z-index: -100;
}


}
@media (max-width: 425px) {
  .slideshow {
    width: 80vw;
    height: calc(90vw * 0.8);

  }

  .slide {
    position: fixed;
    width: 90%;
  }



  .btn {
    bottom: 55px; /* raise buttons higher on small screens */
    font-size: 10px;
    padding: 6px 16px;    
  }

     #prevBtn {
    left: 30%;
    transform: translateX(-100%);
  }
  
  #nextBtn {
    left: 50%;
    transform: translateX(-100%);
  }

}
  

/*galleries in section pages */

/*ham menu - not displaying on desktop */

.off-screen-menu {
  background-color:rgba(224, 135, 253);
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
  transition: .3s ease;
  z-index: 99;
}

#myUL2 {
  padding-left: 0;
}

.off-screen-menu.active {
  right: 0px;
}
.off-screen-menu ul {
  padding-left: 0px;
}

.off-screen-menu {
  display: none;

}

.off-screen-menu.active {
  right: 0px;
}

nav {
display: none;
}

/*ham menu test */




  .img-gallery {
    width: 80%;
    margin-left: 25%;
    position: absolute;
    margin-right: 0;
    border-right: 0px;
    top: 25px;
    display: block;
    z-index: -100;
    overflow: hidden;
  }
    
    .img-gallery img {
       width: 90%;
       padding-bottom: 5%;
       z-index: -100;
    -webkit-filter: drop-shadow(1px 1px 1px #aaaaaa);
    }

/* next click gallery */


/* image grid on index page */
.container {
  z-index: -100;
  display: grid;
  position: absolute;
  top: 25px;
  margin-right: 0;
  grid-template-columns: 1fr 1fr 1fr; /* three equal columns */
  gap: 30px; /* Horizontal gap between the columns */
  margin: 20px;
  padding-bottom: 25px;
}

.container img:hover{
  transform: scale(1.02) translateY(-5px);

}


/* Next & previous buttons */
.prev, .next {
  cursor: grab;
  position: absolute;
  bottom: 0.3%;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

}

/* Next & previous buttons */
.prev {
    padding-right: 200px;
    padding-top: 610px;
    padding-left: 4px;
    background-color:rgba(255, 217, 0 /50%);
  }
/* Position the "next button" to the right 
WHY NOT WORKING?*/
.next {
    left: 30%;
    padding-left: 200px;
    padding-top: 610px;
    padding-right: 4px;
    background-color:rgba(255, 217, 0 /50%);

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover {
  cursor: url(svg/prev.svg), auto; 
  background-color:rgba(255, 217, 0 /50%);

}

.next:hover {
  cursor: url(svg/Untitled-2.svg), auto; 
  background-color:rgba(255, 217, 0 /50%);

}

#img-gallery-portrait {
  width: 500px;
  margin-left: 35%;
z-index: -500;
}

#img-gallery-portrait img {
  width: 500px;
  -webkit-filter: drop-shadow(1px 1px 1px #aaaaaa);
z-index: -500;


    
}

.mobile-menu, .hamburger {
  display: none;
}

/*test for the array  image slider */




/*media queries*/
@media only screen and (max-width: 768px) {

ul, #myUL, li, .nested {
  z-index: 999;
}
  .img-gallery {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding-left: 3%;
    padding-bottom: 5%;
    margin-right: 0;
    margin-top: 176px;

  }
    .img-gallery img {
       padding-bottom: 2%;
       width: 100%;
       padding-right: 3%; 
       margin-left: auto; 

    }

    #img-gallery-portrait {
      width: 100%;
      margin: auto;


    }
    
    #img-gallery-portrait img {
      width: 100%;

    }

                 .container {
    top: 5%;
    width: 100%;
    padding: 5%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
}
   
        footer {
            padding-top: 10px;
            right: 0;
            padding-right: 3%; 
            z-index: 4;
            display: block;
            padding-bottom: 10px;
            position: absolute;

        }

                /*playing about*/

      

        

        .nested .about {
            width: 500px;
            z-index: 3;
        }
      

      }
        @media only screen and (max-width: 430px) {

          body {
            max-width: 88%;
            margin: 0px;
          }

     h1 {
        display: block;
        width: 45%;
        margin-left: 7px;

        /*margin: auto;  */ 
        /*text-align: center;*/
     }
     

      
     
        #desktopnav {
          display: none;  /* Assuming you have a desktop version */
        }
        

        .hamburger {
          position: fixed;
          top: 10%;
          left: 2%;
          font-size: 1.3em;
          z-index: 1100;
          background: #e087fd;
          border: none;
          border-radius: 50%;
          color: white;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          cursor: pointer;
          display: block;
        }

        .hamburger.rotate {
          transform: rotate(45deg);
        }

        .mobile-menu {
          display: block;
          position: absolute;
          top: 20%; /* or below your header */
          left: -5%;
          width: 100%;
          padding: 20px;
          z-index: 1000;
        }

        .mobile-menu.hidden {
          display: none;
        }


        li {
          /*margin: auto;  */ 
          margin-top: 3px;
          margin-left: 0px;
      }

      #myUL {
        left: 100px;
      }

        ul#myUL {
            display: block;
            z-index: 99;
            margin-left: 0px;
            left: 0;
            /*margin: auto;  */ 
        }

        #footer {
            display: block;
            z-index: 999;
            bottom: 0px;
            left: 0;
            padding-top: 10px;
            background-color: #fafafa;            
        }

        html {
          box-sizing: border-box;
        }

   .testimonials {
    width: 100%;
    padding-left: 20px;

  }


  .img-gallery-testimonials img{
    width: 100%;
 float: left; 
 padding-bottom: 10px;  
   }

 





        .img-gallery-portrait {
          margin-top: 5%;
          z-index: -1;
          padding-bottom: 50px;
          background-color: #fafafa;
          top: 23%;
          
      }
        

       

  .prev, .next {
    width: 1%;
    bottom: 0.3%;
    font-size: 20px;
    z-index: 20;
  }
  
  .next {
    padding-left: 0;
margin-top: 10px;
    margin: 0;
    padding-top: 710px;
  }
  

  
  
 /* img gallery */




.slideshow-container {
  top: 1%;
}

      .mySlides fade {
        margin: 0;
      }




.nested .about {
    width: auto;
    padding-left: 10px;
    font-size: 1em;
    padding-top: 10px;
    z-index: 999;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-top: 5px;
    } 

    :root {
      overscroll-behavior: none;
    }
  }


.fade-item {
  transition: 0.1s all ease-in-out;
  opacity: 0;
}

.fadein {
  animation: fadeIn 0.9s 1;
  animation-fill-mode: forwards;
}


@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


$total-items: 7;


li {
  position: relative;
  display: block;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}


@for $i from 1 through $total-items {
  .fade-item:nth-child(#{$i}) {
    animation-delay: 0s * $i;
  }
} 

